{% from "govuk/components/table/macro.njk" import govukTable %}

{% extends 'layouts/page.njk' %}

{% block content %}
  {{ appHeading({
    text: heading,
    caption: "AI PoC for CFFLD Feedback Analysis"
  }) }}

{% endblock %}
