{% extends 'layouts/page.njk' %}

{% block content %}
  {{ appHeading({
    text: heading,
    caption: "Core delivery platform Node.js Frontend Template."
  }) }}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l">{{serviceName}}</h1>
        <div class="govuk-cards govuk-cards--2">
          <div class="govuk-cards--2__item govuk-card--dashboard">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Urgent</h2>
            <p class="govuk-hint">
              Urgent feedback received in the last week
            </p>
            <p class="govuk-body govuk-!-font-size-48 govuk-!-font-weight-bold">
              1
            </p>
            <ul class="govuk-list">
              <li>
                  <a href="/view/urgent" class="govuk-link">View</a>
              </li>
            </ul>
          </div>
          <div class="govuk-cards--2__item govuk-card--dashboard">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Last week</h2>
            <p class="govuk-hint">
              Feedback received in the last week
            </p>
            <p class="govuk-body govuk-!-font-size-48 govuk-!-font-weight-bold">
              10
            </p>
            <ul class="govuk-list">
              <li>
                  <a href="/view/all" class="govuk-link">View</a>
              </li>
            </ul>
          </div>
          <div class="govuk-cards--2__item govuk-card--dashboard">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Recommendations</h2>
            <p class="govuk-hint">
              LLM suggested improvements to the service
            </p>
            <p class="govuk-body govuk-!-font-size-48 govuk-!-font-weight-bold">
              3
            </p>
            <ul class="govuk-list">
              <li>
                  <a href="/reccomendations/all" class="govuk-link">View</a>
              </li>
            </ul>
          </div>
        </div>
    </div>

{% endblock %}
