{% extends 'layouts/page.njk' %}

{% block content %}
  {{ appHeading({
    text: heading,
    caption: "AI PoC for CFFLD Feedback Analysis"
  }) }}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <div class="govuk-cards govuk-cards--2">
          <div class="govuk-cards--2__item govuk-card--dashboard">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Urgent</h2>
            <p class="govuk-hint">
              Urgent feedback received in the last week
            </p>
            <p class="govuk-body govuk-!-font-size-48 govuk-!-font-weight-bold">
              {{ dashboard.urgent.weekly }}
            </p>
            <ul class="govuk-list">
              <li>
                  <a href="/get-feedback/urgent" class="govuk-link">View</a>
              </li>
            </ul>
          </div>
          <div class="govuk-cards--2__item govuk-card--dashboard">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Last Week</h2>
            <p class="govuk-hint">
              All feedback received in the last week
            </p>
            <p class="govuk-body govuk-!-font-size-48 govuk-!-font-weight-bold">
              {{ dashboard.feedback.weekly }}
            </p>
            <ul class="govuk-list">
              <li>
                  <a href="/get-feedback/week" class="govuk-link">View</a>
              </li>
            </ul>
          </div>
          <div class="govuk-cards--2__item govuk-card--dashboard">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Total Feedback</h2>
            <p class="govuk-hint">
              A complete archive of all feedback received
            </p>
            <p class="govuk-body govuk-!-font-size-48 govuk-!-font-weight-bold">
              {{ dashboard.feedback.allTime }}
            </p>
            <ul class="govuk-list">
              <li>
                  <a href="/get-feedback/all" class="govuk-link">View</a>
              </li>
            </ul>
          </div>
        </div>
    </div>

{% endblock %}
